body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    background-color: #192735;
    border-bottom: 8px solid #15cfff;
}

.green-text {
    color: #00dc9c;
}